:host {

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid blue;
    height: 99%;
}

mat-grid-tile {

    border: 1px solid red;
}

mat-grid-list {

    position: relative;
    width: 900px;
    border: 1px solid skyblue;
}

app-midi {

    box-sizing: border-box;
    width: 100%;
}

app-midis-list {
    
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}