<div>
    <mat-grid-list cols="3" rowHeight="12:3">
        <mat-grid-tile rowspan="5" colspan="1">
            <app-midis-list></app-midis-list>
        </mat-grid-tile>

        <mat-grid-tile rowspan="5" colspan="2">
            <app-midi></app-midi>
        </mat-grid-tile>

        <mat-grid-tile rowspan="1" colspan="1">
            <mat-icon>save</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="1" colspan="2">
            <mat-icon>clock</mat-icon>
        </mat-grid-tile>
    </mat-grid-list>
</div>