<mat-card>

    <div id="app-grid">

        <div class="app-row-grid top-row-grid">
        
            <div class="common-container left-container">
                <mat-card class="midis-list-card"><app-midis-list></app-midis-list></mat-card>
            </div>

            <div class="common-container right-container midi-keyboard-container">
                <mat-card class="midi-name-card">
                    <mat-form-field appearance="standard">
                        <input matInput placeholder="some name" (input)="nameChanged($event)" [value]="midiService.currentMidi.name">
                    </mat-form-field>
                </mat-card>
                <app-midi></app-midi>
            </div>
        
        </div>

        <div class="app-row-grid bottom-row-grid">

            <div class="common-container left-container">
                <mat-card class="midis-data-control-card">
                    <app-midis-data-control></app-midis-data-control>
                </mat-card>
            </div>

            <div class="common-container right-container">
                <mat-card class="play-control-card">
                    <app-play-control></app-play-control>
                </mat-card>
            </div>

        </div>

    </div>

</mat-card>