:host {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
}

#app-grid {

    position: relative;

    display: flex;
    flex-direction: column;

    height: 45vw;
    width: 60vw;
}

.app-row-grid {
    
    position: relative;
   
    display: flex;
    flex-direction: row;
}

.top-row-grid {
    
    flex-grow: 3;
    max-height: calc(100% / 4 * 3); 
}

.bottom-row-grid {

    flex-grow: 1;
    max-height: calc(100% / 4 * 2);
}

.common-container {

    position: relative;

    display: flex;
    flex-direction: column;
    min-height: min-content;

    justify-content: center;
    align-items: center;

    border: 1px solid red;
}

.left-container {

    flex-grow: 2;
    max-width: calc(100% / 4 * 1);
}

.right-container {

    flex-grow: 3;
    max-width: calc(100% / 4 * 3);
}

.midi-name-card {

    position: relative;

    flex-grow: 1;
    background-color: darkslategray;
    color: white;

    width: calc(100% - 64px);

    height: 1.6vw;
    max-height: 1.6vw;

    font-size: 1.3vw;

    margin-bottom: 16px;
}

.midi-name-card mat-form-field {

    transform: translateY(-2em);
    color: white;
}

app-midi {

    width: calc(100% - 32px);
}

mat-card {

    background-color: dimgray;
}

.midis-list-card {

    background-color: darkslategray;
    margin: 16px;
    overflow-y: auto;

    max-height: calc(100% - 64px);
    height: 100%;
    max-width: calc(100% - 64px);
    width: 100%;
}

.midis-data-control-card {

    background-color: darkslategray;
    margin: 16px;

    max-width: calc(100% - 64px);
    width: 100%;
}

.play-control-card {

    background-color: darkslategray;
    margin: 16px;
}

.midi-keyboard-container {

    justify-content: flex-start;
    padding: 16px;
}

app-midis-list {
    
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
}

::-webkit-scrollbar {

    width: 4px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
    border-radius: 10px;
    transform: translateX(-1);
}

::-webkit-scrollbar-thumb {

    background: darkgray;
    border-radius: 10px;
}